* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: cursive;
}

.box {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100svh;
  flex-direction: column;
}

.form {
  display: flex;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.input {
  font-size: clamp(1.125rem, 0.852rem + 1.36vw, 1.875rem);
  padding: 5px;
  border: 3px solid black;
  border-radius: 10px;
  font-family: inherit;
}

.button {
  cursor: pointer;
  background: linear-gradient(90deg, rgb(214, 14, 14) 50%, rgb(5, 5, 204));
  border: none;
  color: white;
  font-weight: 600;
  font-size: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
  padding: 5px 10px;
  border-radius: 10px;
  font-family: inherit;
}

.info {
  padding: 5px 15px;
  font-size: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
  text-align: center;
}

.info-link {
  font-weight: 700;
}

.section {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: 3px solid black;
  border-radius: 10px;
}

.pokemon-title {
  font-size: 30px;
  padding-left: 10px;
}

.pokemon-img {
  width: 200px;
  height: 200px;
}

.pokemon-attack {
  font-size: 24px;
}

.vs {
  display: none;
}

.vs.active {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.result {
  padding: 10px 15px;
  font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
  text-align: center;
}

@media screen and (max-width: 576px) {
  .section {
    flex-direction: column;
  }
}